div#container
  div#header
    h1= title
    span= titleSub
  div#content
    div#topCard
    div#mainCard
      p#explain This is some none sense to see just how much 140 characters truly is. Wow, it seems like a lot now that I am typing - hmmm, too much maybe?
      canvas#sketchpad
      div.buttonBar
        button.cupid-green Finish!
    div#bottomCard
  div#footer
    footer